.block-title {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  img {
    width: 20px;
    margin-top: 5px;
    height: 20px;
  }
  span {
    font-weight: bold;
    font-size: 21px;
    color: #484848;
  }
}
