@import './../../assets/scss/utilities/mixins';
.sidebar {
  overflow: hidden;
  position: relative;
  height: 100%;
  border-left: 1px solid #ececec;
  & > .header {
    background-color: white;
    text-align: center;
    padding: 12px 0;

    &::before {
      content: '';
      background: url('./../../assets/icons/header-mask.svg') no-repeat;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -1;
      position: absolute;
    }
  }
  & > .content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 64px);
    overflow: auto;
    background-color: white;
  }
  & > .content > .container {
    padding: 20px;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    & > ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0;
      & li {
        margin: 2px 0;
        margin-right: 10px;
        width: 100%;
        & > a,
        & > div {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 8px;
          text-decoration: none;
          cursor: pointer;
          & > .title {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;

            & > img {
              width: 20px;
              height: 20px;
            }
            & > span {
              margin-left: 18px;
              color: #ffffff;
              font-weight: 500;
              font-size: 16px;
              text-decoration: none;
            }
          }
          &.active {
            border-radius: 8px;
            & > .title {
              & > div {
                color: #2e6ff1;
              }
              & > img {
                filter: invert(29%) sepia(62%) saturate(1866%) hue-rotate(206deg) brightness(106%)
                  contrast(102%);
              }
            }

            & > .MuiChip-root {
              color: #18699cc7 !important;
              &.MuiChip-colorSecondary {
                background: #e94a14 !important;
                color: white !important;
              }
            }
          }
        }
      }
    }
  }
  & > .contentafter > .container {
    padding: 20px;
    width: 100%;
    flex-grow: 1;
    & > ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0;
      & li {
        margin: 2px 0;
        margin-right: 10px;
        width: 100%;
        & > a,
        & > div {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 8px;
          text-decoration: none;
          cursor: pointer;
          & > .title {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;

            & > img {
              width: 20px;
              height: 20px;
            }
            & > span {
              margin-left: 18px;
              color: #ffffff;
              font-weight: 500;
              font-size: 16px;
              text-decoration: none;
            }
          }
          &.active {
            border-radius: 8px;
            & > .title {
              & > div {
                color: #2e6ff1;
              }
              & > img {
                filter: invert(29%) sepia(62%) saturate(1866%) hue-rotate(206deg) brightness(106%)
                  contrast(102%);
              }
            }
            & > .MuiChip-root {
              color: #18699cc7 !important;
              &.MuiChip-colorSecondary {
                background: #e94a14 !important;
                color: white !important;
              }
            }
          }
        }
      }
    }
  }
}
.name_item_sidebar {
  color: black;
  font-weight: 500;

  font-size: large;
}
.name_item_sidebar_none {
  display: none;
}
.ListItemButton {
  margin-right: -10px;
}
.home_sidebar_dropdown {
  color: black;

  font-size: large;
  margin-right: -20px;
}
.ExpandLess {
  color: black;
}
.ExpandMore {
  color: black;
}
.InboxIcon {
  color: black;
}
.InboxIcon_after {
  color: black;
  margin-right: 10px;
}
.user-sidebar {
  margin-right: -20px;
  color: black;

  font-size: large;
}
.picture_sidebar_user {
  margin-right: -62px;
  color: black;
}
.name_item_user {
  color: black;
  font-weight: 500;
  font-size: large;
  margin-top: 6px;
}
.sidebar_user_items {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}
.icon_user_sidebar {
  width: 25px;
  height: 25px;
  margin-right: -33px;
  margin-top: 5px;
}
.home_sidebar_dropdown_after {
  display: none;
}
.user-sidebar_none {
  display: none;
}
.name_item_user_none {
  display: none;
}
.picture_sidebar_user_after {
  margin-right: -52px;
  color: black;
}
.setting_item_sidebar {
  margin-right: -12px;
}
@include mq(598px, max) {
  .hiddenFormatListBulletedIcon {
    display: none !important;
  }
}
