.suggestion-container {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  width: 98%;
  height: 50px;
}
.inputonecorrectchoise {
  width: 350px;
  min-height: 30px;
  height: fit-content;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.btn-confirm {
  margin-right: 210px;
}
