.word-box {
  width: 97%;
  height: 50px;
  display: flex;
  padding: 5px;
  gap: 10px;
  .nbr-box {
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
  }
  span {
    margin-top: 10px;
    font-size: 16px;
  }
}
